.container {
  width: 1000px;
  margin: 20px auto;
  -webkit-box-shadow: 0px 4px 14px 4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 14px 4px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 14px 4px rgba(34, 60, 80, 0.2);
  background-color: rgb(248, 246, 246);
  padding-bottom: 30px;
  padding-top: 30px;
}
